.flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

*{
  font-family: Arial;
  font-size: 1.15em;
  padding: 14px;
  margin: 4px;
  border-radius: 412px;
}

body{
  background-color: rgb(158, 214, 218);
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-size: 2em;
}

section{
  max-width: 1280px;
  background-color: rgb(253, 208, 64);
  border-radius: 14px;
  border-style: ridge;
  margin: auto;
}

input{
  width: 89%;
  max-width: 396px;
}

select{
  width: 100%;
  max-width: 800px;
}

.btn-div{
  justify-content: center;
}

button{
  width: 60px;
  height: 60px;
  margin: 0px 20px;
}

button>img{
  width: 100%;
  padding: 0;
  margin: 0;
}